@forward "./zeroing.scss";

$bg-gen: #282828;
$bg-nav: #000;
$col-hov: #1100ff;

a {
  color: #fff;
  transition: .3s;

  &:hover {
    color: $col-hov;
  }
}

@mixin center {
  margin-left: 50%;
  transform: translate(-50%);
}


.container {
  max-width: 1430px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

}

body {
  background-color: $bg-gen;
}

//------------ NAV ----------------------

.nav {
  position: absolute;
  top: 19px;
  left: 0;
  right: 0;
  z-index: 5;
  margin-top: 100px;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  border-bottom: 3px solid #7e7d7d;
}

.nav__logo {
  cursor: pointer;
  transition: .3s;

  &:hover {
    transform: scale(1.1);
  }
}

.nav__menu {
  display: flex;
  gap: 48px;
}

.nav__item {
  &:hover {
    transform: scale(1.1);
  }
}

.nav__link {
  color: #fff;
}

//------------ HEADER --------------

.header-img {
  width: 100%;
  height: auto;
  min-height: 711px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 100px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url('./../images/header/header_panel.jpg');
    background-size: cover;
    filter: brightness(52%);
  }
}

.header-inner__row {
  display: flex;
}

.header-inner__logo {
  position: absolute;
  top: 180px;
  left: 150px;
  z-index: 1;
}

.header__title {
  max-width: 521px;
  width: 100%;
  position: absolute;
  left: 148px;
  top: 267px;
  z-index: 1;
}

.header-inner__title {
  font-size: 36px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  text-align: left;
  letter-spacing: .013rem;
}

.header-strip {
  position: absolute;
  top: 375px;
  left: 140px;
  z-index: 1;
}

.header-text {
  position: absolute;
  left: 150px;
  top: 422px;
  z-index: 1;
}

.header-inner__text {
  max-width: 520px;
  width: 100%;
  font-size: 16px;
  font-family: "Raleway";
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.438;
  text-align: left;
}

.header__button {
  position: absolute;
  left: 151px;
  top: 530px;
  z-index: 1;
}

.button {
  font-size: 15px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  text-align: left;
  letter-spacing: .07rem;

  border: 2px solid #fff;
  background-color: transparent;
  padding: 11px 31px 11px 31px
}

.header-inner__card {
  position: relative;
}

.header__card {
  position: relative;
  top: 210px;
  left: 58.2vw;
  z-index: 1;
}

.card-top {
  width: 300px;
  font-size: 20px;
  font-family: "OpenSans";
  color: rgb(51, 51, 51);
  font-weight: bold;
  letter-spacing: .03rem;
  text-align: left;

  position: absolute;
  left: 62.2vw;
  top: 226px;
  z-index: 1;
}

.card-top--m {
  color: #ff8b38;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: $col-hov;
  }
}

.card-bottom {
  width: 100px;
  font-size: 15px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  text-align: left;
  letter-spacing: .08rem;
  position: absolute;
  left: 68vw;
  top: 537px;
  z-index: 1;
  cursor: pointer;
  transition: .3s;

  &:hover {
    transform: scale(1.1);
    color: $col-hov;
  }
}

.input-name {
  position: absolute;
  top: 300px;
  left: 62vw;
  z-index: 1;
  cursor: pointer;
}

.input-email {
  position: absolute;
  top: 367px;
  left: 62vw;
  z-index: 1;
  cursor: pointer;
}

.input-psswword {
  position: absolute;
  top: 444px;
  left: 62vw;
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .nav__content {
    padding: 0 135px;
  }

  .header-inner__logo {
    left: 135px;
  }

  .header__title {
    max-width: 530px;
    left: 134px;
    top: 266px;
  }

  .header-inner__title {
    letter-spacing: 0rem;
  }

  .header-strip {
    left: 128px;
  }

  .header-text {
    left: 134px;
  }

  .header__button {
    left: 134px;
  }

  .header__card {
    left: 62vw;
  }

  .card-top {
    left: 66.3vw;
  }

  .card-bottom {
    left: 72.5vw;
  }

  .input-name {
    left: 66.2vw;
  }

  .input-email {
    left: 66.2vw;
  }

  .input-psswword {
    left: 66.2vw;
  }
}

@media (max-width: 1200px) {
  .nav-logo__img {
    width: 90%;
  }

  .header-inner__logo {
    left: 100px;
  }

  .header-logo__img {
    width: 80%;
  }

  .header__title {
    left: 100px;
  }

  .header-inner__title {
    font-size: 34px;
  }

  .header-strip {
    top: 365px;
    left: 90px;
  }

  .header-text {
    left: 100px;
    top: 400px;
  }

  .header-inner__text {
    width: 500px;
    font-size: 15px;
  }

  .header__button {
    left: 100px;
    top: 520px;
  }

  .card-bottom {
    left: 74vw;
  }
}

@media (max-width: 1020px) {
  .nav-logo__img {
    max-width: 75%;
  }

  .header-img {
    height: 1020px;
  }

  .nav-logo__img {
    width: 80%;
  }

  .header-inner__logo {
    position: absolute;
    top: 160px;
    left: calc(100% - 50% - 70px);
    z-index: 1;
  }

  .header-logo__img {
    width: 75%;
  }

  .header__title {
    position: absolute;
    left: calc(100% - 50%);
    transform: translate(-50%);
    z-index: 1;
  }

  .header-inner__title {
    font-size: 32px;
  }

  .header-strip {
    left: calc(100% - 50%);
    transform: translate(-50%);
  }

  .header-text {
    left: 25vw;
  }

  .header-inner__text {
    font-size: 15px;
  }

  .header__button {
    left: calc(100% - 50%);
    transform: translate(-50%);
  }

  .header__card {
    top: 610px;
    left: 30vw;
  }

  .card-top {
    width: 300px;
    top: 625px;
    left: 35vw;
  }

  .card-bottom {
    width: 100px;
    top: 940px;
    left: 44vw;

    &:hover {
      transform: translateX(0);
      font-size: 16px;
    }
  }

  .input-name {
    top: 700px;
    left: 35.5vw;
  }

  .input-email {
    top: 765px;
    left: 35.5vw;
  }

  .input-psswword {
    top: 845px;
    left: 35.5vw;
  }
}

@media (max-width: 990px) {
  .nav__content {
    padding: 0 140x;
  }

  .nav__menu {
    gap: 40px;
  }
}

@media (max-width: 800px) {
  .nav__content {
    padding: 0 125px;
  }
}

@media (max-width: 768px) {
  .nav__logo {
    position: absolute;
    left: 90px;
    z-index: 1;
  }

  .header-img {
    height: 1000px;
  }

  .nav__content {
    max-height: 60px;
  }

  .nav__menu {
    display: none;
  }

  .nav-logo__img {
    width: 80%;
  }

  .header-inner__logo {
    top: 130px;
    left: 40vw;
  }

  .header-logo__img {
    width: 70%;
  }

  .header__title {
    width: 500px;
    top: 220px;
    left: 52vw;
  }

  .header-inner__title {
    font-size: 32px;
  }

  .header-strip {
    top: 320px;
    align-items: center;
  }

  .header-text {
    top: 360px;
    left: 20vw;
  }

  .header-inner__text {
    width: 450px;
    font-size: 14px;
    line-height: 1.8;
  }

  .header__button {
    align-items: center;
    top: 480px;
  }

  .header__card {
    top: 580px;
    left: 23.5vw;
  }

  .card-top {
    left: 31vw;
    top: 595px;
  }

  .card-bottom {
    top: 908px;
    left: 41vw;
  }

  .input-name {
    top: 670px;
    left: 31vw;
  }

  .input-email {
    top: 735px;
    left: 31vw;
  }

  .input-psswword {
    top: 815px;
    left: 31vw;
  }
}

@media (max-width: 575px) {
  .nav__content {
    max-height: 50px;
    border-bottom: 2px solid #7e7d7d;
  }

  .header-img {
    margin-top: 40px;
  }

  .nav {
    margin-top: 40px;
  }

  .nav__logo {
    left: 65px;
  }

  .nav-logo__img {
    max-width: 60%;
  }

  .header-img {
    height: 900px;
  }

  .header-inner__logo {
    left: 50%;
    transform: translate(-35%);
    top: 100px;
  }

  .header-logo__img {
    width: 50%;
  }

  .header__title {
    top: 170px;
    left: 50%;
    transform: translate(-44%)
  }

  .header-inner__title {
    font-size: 28px;
  }

  .header-strip {
    top: 260px;
  }

  .header-text {
    top: 300px;
    left: 50%;
    transform: translate(-45%)
  }

  .header-inner__text {
    font-size: 14px;
    line-height: 1.6;
  }

  .header__button {
    top: 400px;
  }

  .header__card {
    top: 500px;
    left: 15.5vw;
  }

  .card-top {
    left: 27vw;
    top: 515px;
  }

  .card-bottom {
    top: 828px;
    left: 41vw;
  }

  .input-name {
    top: 595px;
    left: 26vw;
  }

  .input-email {
    top: 660px;
    left: 26vw;
  }

  .input-psswword {
    top: 740px;
    left: 26vw;
  }
}

@media (max-width: 480px) {
  .nav__logo {
    left: 60px;
  }

  .header-img {
    margin-top: 50px;
  }

  .nav {
    margin-top: 50px;
  }

  .nav-logo__img {
    max-width: 65%;
  }

  .header-img {
    height: 830px;
  }

  .header-inner__logo {
    left: 50%;
    transform: translate(-30%);
    top: 100px;
  }

  .header-logo__img {
    width: 40%;
  }

  .header__title {
    top: 150px;
    transform: translate(-35%)
  }

  .header-inner__title {
    width: 400px;
    font-size: 22px;
  }

  .header-strip {
    top: 218px;
  }

  .header-text {
    top: 250px;
    left: 50%;
    transform: translate(-50%);
  }

  .header-inner__text {
    width: 400px;
    font-size: 14px;
    line-height: 1.6;
  }

  .header__button {
    top: 350px;
  }

  .header__card {
    width: 80%;
    height: 350px;
    top: 440px;
  }

  .card-top {
    left: 21vw;
    top: 455px;
    font-size: 18px;
  }

  .card-bottom {
    top: 751px;
    left: 37vw;
  }

  .input-name {
    top: 528px;
    left: 24.5vw;
  }

  .input-email {
    top: 590px;
    left: 24.5vw;
  }

  .input-psswword {
    top: 665px;
    left: 24.5vw;
  }
}

@media (max-width: 396px) {
  .header-inner__text {
    width: 330px;
  }

    .header__title {
    top: 150px;
    transform: translate(-30%)
  }

 .header-inner__title {
    width: 300px;
    font-size: 20px;
  }

    .header__button {
    top: 360px;
  }

   .header__card {
    left: 9vw;
  }

   .card-top {
    left: 17vw;
    font-size: 16px;
  }

   .card-bottom {
    left: 36vw;
  }
}

@media (max-width: 360px) {
 .header-inner__text {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .nav__content {
    max-height: 45px;
  }

  .nav__logo {
    left: 40px;
  }

  .header-img {
    margin-top: 20px;
  }

  .nav {
    margin-top: 20px;
  }

  .nav-logo__img {
    max-width: 55%;
  }

  .header-img {
    height: 780px;
  }

  .header-inner__logo {
    top: 80px;
  }

  .header__title {
    top: 120px;
    transform: translate(-26%);
  }

  .header-inner__title {
    width: 250px;
    font-size: 16px;
    line-height: 1.4;
  }

  .header-strip {
    top: 175px;
  }

  .header-text {
    top: 200px;
    left: 50%;
    transform: translate(-45%);
  }

  .header-inner__text {
    width: 90vw;
    font-size: 13px;
  }

  .header__button {
    top: 310px;
  }

  .button {
    font-size: 14px;
    padding: 9px 28px 9px 28px
  }

  .header__card {
    top: 390px;
    left: 9vw;
  }

  .card-top {
    left: 14vw;
    top: 405px;
    font-size: 16px;
  }

  .card-bottom {
    top: 703px;
    left: 32vw;
  }

  .input-name {
    top: 479px;
    left: 20vw;
  }

  .input-email {
    top: 540px;
    left: 20vw;
  }

  .input-psswword {
    top: 615px;
    left: 20vw;
  }
}